<div class="nav-links">
  <ul>
    <li class="nav-item">
      <%= link_to root_path, data: {"bs-toggle": "popover", "bs-trigger": "hover focus", "bs-placement": "bottom", "bs-content": "Home" } do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to users_edit_details_path, data: {"bs-toggle": "popover", "bs-trigger": "hover focus", "bs-placement": "bottom", "bs-content": "My Account" } do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete, "bs-toggle": "popover", "bs-trigger": "hover focus", "bs-placement": "bottom", "bs-content": "Sign Out" } do%>
          <i class="fa-solid fa-right-to-bracket"></i>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, data: {"bs-toggle": "popover", "bs-trigger": "hover focus", "bs-placement": "bottom", "bs-content": "Log In" } do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
