<p class="msg-container alert alert-dismissible fade show" role="alert">
  <% if notice %>
    Notice: <%= notice %>
    <br>
  <% end %>
  Params: <%= params.inspect %>
  <br>
  Flash: <%= flash.inspect %>
  <br>
  <% if flash.empty? %>
    Flash is empty
  <% end %>

  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</p>
